@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 100%;
}

.signInLink {
  font-size: 40px;
}


