@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addTestLink {
  font-size: 30px;
}

.libraryContainer {
  padding-top: 100px;
}


