@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.root {

}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.testTitleInput {
  padding: 20px;
  width: 500px;
  height: 68px;
  font-size: 20px;
  background-color: $warmWhite;
  border: 3px solid $pastelLavender;
  border-radius: 10px;
}

.titleFormContainer {
  position: relative;
}

.deleteTestBtn {
  position: absolute;
  right: -200px;
  top: 30px;
  font-size: 25px;
}

.deleteTestBtn:hover {
  text-decoration-line: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
}

// DROPDOWN

.dropdownContainer {
  width: 200px;
  text-align: center;
  background-color: $warmPink;
  border-radius: 20px;
}

.dropdownContainer:hover {
  border-radius: 20px 20px 0 0;
}

.dropdownContent {
  border: 2px solid $warmPink;
  border-radius: 0 0 20px 20px;

  button {
    color: $standartWhite;
  }

  button:hover {
    color: $standartBlack;
    background-color: $warmGray;
  }

  button:nth-child(3) {
    border-radius: 0 0 20px 20px;
  }
}

.dropdownText {
  padding: 20px;
  font-size: 20px;
}

// QUESTION MENU

.questionsCreationArea {
  padding-top: 200px;
  display: flex;
}

@include minWidth361 {
  .testTitleInput:focus {
    border: 3px solid $warmPink;
    background-color: $warmGray;
  }

  .testTitleInput:hover {
    background-color: $warmGray;
  }
}