@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.confirmBtnContainer {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

@include minWidth361 {
  .confirmBtn:hover:hover, .notConfirmBtn:hover {
    text-decoration-line: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
  }
}