@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.root {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 700px;
  background-color: $standartWhite;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  width: 500px;
  background-color: $standartWhite;
  border-radius: 10px;
}

// INPUT

.formInput {
  padding: 20px;
  width: 500px;
  height: 68px;
  font-size: 23px;
  background-color: $warmWhite;
  border: 3px solid $pastelLavender;
  border-radius: 10px;
}

.form:nth-child(-n + 1) {
  div:nth-child(-n + 1) {
    div:nth-child(-n + 1) {
      max-height: 50px;

      input {
        padding: 0;
        min-height: 68px;
        border: none;
        background: none;
        width: 500px;
      }

      div {
        margin-top: -30px;
      }
    }
  }
}

.formInput + p {
  font-size: 30px;
}

.formInput[type="number"]::-webkit-inner-spin-button,
.formInput[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.errorMessageContainer {
  padding-top: 5px;
  width: 500px;
}

.errorMessage {
  color: $warmPink;
  font-size: 18px;
}

// BUTTONS

.btnContainer {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 70%;

  button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid $standartBlack;
  }
}

.saveBtn {
  background: $pastelLavender;
  box-shadow: 0px 8px 16px 0px $lightShadow;
}

.deleteBtn {
  background: $warmPink;
  box-shadow: 0px 8px 16px 0px $lightShadow;
}