@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.root {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 700px;
  background-color: $standartWhite;
  border-radius: 10px;
}


// INPUT

.answerBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answerInput {
  padding: 12px 20px;
  width: 400px;
  min-height: 23px;
  font-size: 23px;
  border-radius: 10px;
  border: 2px solid $standartBlack;
  word-wrap: break-word;
}

.checkboxContainer {
  
  label:before {
    border-color: $ashLavender;
    box-shadow: 0 1px 2px $semiTransparentBlack, inset 0px -15px 10px -12px $semiTransparentBlack;
  }

  label:after {
    border-color: $ashLavender;
  }
}

.checkboxInput:checked + label:after {
  left: 9px;
  top: 1px;
}

.closeBtn {
  max-width: 40px;

  img {
    width: 100%;
  }
}

.header {
  font-size: 30px;
}