@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.root {
  padding: 60px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.answersContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

// INPUTS

.questionInput {
  padding: 12px 20px;
  width: 500px;
  min-height: 23px;
  font-size: 23px;
  border-radius: 10px;
  border: 2px solid $standartBlack;
  word-wrap: break-word;
}

.answerBlock {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.answerInput {
  padding: 12px 20px;
  width: 400px;
  min-height: 23px;
  font-size: 23px;
  border-radius: 10px;
  border: 2px solid $standartBlack;
  word-wrap: break-word;
}

.checkboxStyles {
  position: absolute;
  left: 20px;
  top: 20px;
  
  label:before {
    border-color: $ashLavender;
    box-shadow: 0 1px 2px $semiTransparentBlack, inset 0px -15px 10px -12px $semiTransparentBlack;
  }

  label:after {
    border-color: $ashLavender;
  }
}

// BUTTONS 

.addFieldBtn {
  font-size: 20px;
}

@include minWidth361 {
  .addFieldBtn:hover {
    text-decoration-line: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
  }
}