$oliveGreen: rgb(48, 92, 92);
$warmPink: rgb(217,135,199);
$steelBlue: rgb(45,120,166);
$pastelLavender: rgb(194,188,230);
$warmWhite: rgb(251,251,251);
$warmGray: rgb(234,234,236);
$standartBlack: rgb(0, 0, 0);
$standartWhite: rgb(255, 255, 255);
$yogurtPink: rgb(210,145,188);
$darkTransparent: rgba(0, 0, 0, 0.5);