@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.root {
  position: absolute;
  left: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border-radius: 0 20px 20px 0;
  border-width: 3px 3px 3px 0;
  border-style: solid;
  border-color: $pastelLavender;
}

.createdQuestionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-height: 500px;
  border-radius: 0 20px 0 0;
  background-color: $warmWhite;
  overflow: hidden;
}

.newQuestionsContainer {
  // gap: 0;
  color: $warmWhite;
  background-color: $semiTransparentBlack;
  border-radius: inherit;

  .header {
    // padding-bottom: 30px;
  }
}

.header {
  padding-top: 30px;
  font-size: 23px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-top: 1px solid $pastelLavender;
}

.questionContainer {
  position: relative;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
  min-height: 100px;
  background-color: $semiTransparentBlack;

  p {
    max-width: 290px;
  }
}

.questionContainer:hover {
  background-color: $lightShadow;
}

.title {
  max-width: 90%;
  font-size: 23px;
  word-break: break-all;
}

.counterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  min-width: 40px;
  min-height: 30px;
  background-color: $pastelLavender;
  border-radius: 10px;
  border-color: $ashLavender;
  border: 1.5px solid $standartBlack;
}

.editButtonsContainer {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 20px;
}

.savingButtonsContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 30px;

  button {
    width: 150px;
    height: 50px;
    font-size: 23px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 0px $lightShadow;
  }

  button:hover {
    background-color: $semiTransparentBlack;
    border: none;
  }
}

.saveBtn {
  border: 3px solid $pastelLavender;
}

.clearBtn {
  border: 3px solid $yogurtPink;
}

.questionBtn {
  min-width: 30px;
}

