@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.root {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $darkTransparent;
}

.content {
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 300px;
  border-radius: 20px;
  background-color: $standartWhite;
}

.contentContainer {
  width: 100%;
}

// HEADER

.header {
  font-size: 40px;
}

// CANCELATION BUTTON

.cancelationBtn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid $standartBlack;
  background: $warmPink;
}

.cancelationBtn:active {
  background: $yogurtPink;
}

// CLOSE BUTTON

.closeBtn {
  position: absolute;
  top: 5%;
  right: 5%;
}