@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.root {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
  height: 920px;
  background-color: $standartWhite;
  border: 2px solid $standartBlack;
  border-radius: 50px;
}

.imgContainer {
  border-radius: 50px 50px 0px 0px;
  border-bottom: 1px solid $standartBlack;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

//  BUTTON

.btnContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createBtn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid $standartBlack;
  background: -webkit-linear-gradient(360deg, $pastelLavender, $warmPink);
}

// INPUT

.formInput {
  padding: 20px;
  width: 500px;
  height: 68px;
  font-size: 20px;
  background-color: $warmWhite;
  border: 3px solid $pastelLavender;
  border-radius: 10px;
}

.errorMessageContainer {
  width: 500px;
}

.errorMessage {
  color: $warmPink;
  font-size: 18px;
}

// SIGN UP LINK

.signUpLinkContainer {
  padding-top: 30px;

  p {
    font-size: 20px;
  }

  a {
    text-decoration-line: underline;
  }
}

  .signUpLink {
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
  }

@include _1024 {
  .root {
    width: 500px;
    height: 830px;
  }

  .form {
    padding-top: 20px;
  }

// BUTTON
  .btnContainer {
    padding-top: 20px;
  }

// INPUT

  .formInput {
    width: 350px;
  }

  .errorMessageContainer {
    width: 350px;
  }
}

@include _780 {
  .root {
    width: 400px;
    height: 740px;
  }

  // INPUT

  .formInput {
    width: 300px;
  }

  .errorMessageContainer {
    width: 300px;
  }

  // SIGN UP LINK

  .signUpLinkContainer {
    padding-top: 30px;
  }
}

@include _500 {
  .root {
    width: 340px;
    height: 640px;
  }

  .form {
    padding-top: 20px;
  }

  // INPUT

  .formInput {
    width: 250px;
    height: 50px;
  }

  .errorMessageContainer {
    width: 250px;
  }

  // BUTTON 

  .createBtn {
    width: 120px;
  }

 // SIGN UP LINK

  .signUpLinkContainer {
    padding-top: 20px;
  }
}

@include _360 {
  .root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 400px;
  }

  .imgContainer {
    display: none;
  }

  .form {
    padding-top: 0px;
  }

  // INPUT

  .formInput {
    font-size: 15px;
  }

  .errorMessage {
    font-size: 15px;
  }

  //BUTTON

  .createBtn {
    font-size: 18px;
  }

  // SIGN UP LINK

  .signUpLink {
    color: $warmPink;
  }

  .signUpLinkContainer {
    p {
      font-size: 15px;
    }
  }

}

@include minWidth361 {
  // INPUT
  .formInput:focus {
    border: 3px solid $warmPink;
    background-color: $warmGray;
  }
  
  .formInput:hover {
    background-color: $warmGray;
  }

  // SIGN UP LINK
  .signUpLink:hover {
    color: $warmPink;
  }

  .signUpLink:active {
    color: $pastelLavender;
  }

  //BUTTON

  .createBtn:hover {
    border-color: $warmPink;
  }
  
  .createBtn:active {
    background: -webkit-linear-gradient(360deg, $warmPink, $pastelLavender);
  }
}